aiohttp==3.11.16
anthropic==0.49.0
asyncio==3.4.3
cryptography==44.0.2
google-genai==1.9.0
gql==3.5.2
hubspot-api-client==11.1.0
openai==1.70.0
pydantic-settings==2.8.1
pydantic[email]==2.11.2
python-dotenv==1.1.0
ratelimit==2.2.1
requests==2.32.3
tenacity==9.1.2
